# Preparing Time Series Data

like most preparation processes, but now with dates!

In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

import acquire

## Acquire

In [2]:
#get my store data

### Summarize

- get a sense of our data - size, shape, datatypes
- look for null values and address them 
- look at the shape of individual variables

#### how many distinct stores, items, and sales?

#### Takeaways

- 908k rows of data
- have one date that is object type
- no nulls
- all stores in one city
- handful of zip codes
- range of sale_amount and item_price
- im unsure what item_upcs are
- overall, this dataframe is made up of sales dates and their associated item and store
- each observation is a unique sale

## Prepare

for time series data: 
- we generally want to set our dates to datetime types
- look at the frequency of the data 
- look for gaps in time or null values
- as part of this, we'll investigate our data and figure out what each row represents and ask if that is what we want.

#### range of dates?

#### frequency of dates?

#### do all my dates contain gmt and 00:00:00?

### Process to working with datetimes

1. Convert 'date/time' column to datetime object
2. Set the datetime column as Index
3. Sort the datetime index

#### 1. Convert 'date/time' column to datetime object

formatting info: https://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior

#### 2. Set the datetime column as Index

#### 3. Sort the datetime index

## Let's get to know our data a litte better

- Currently, the dataframe has one row per sold item, but what if we need more or less granularity?
- Let's consider what it means to define our observation in different ways.
- We'll also look at different time-windows for our data.

### Plot target variable over time

Target variable: sale_amount

In [ ]:
# plt.figure(figsize=(10,6))

# plt.title('sale amount over time')
# plt.show()

### Is each store equally represented in this dataset?

### Is each item equally represented in this dataset?

### Let's look at stores + items

We will explore the data behind the unique combinations of store & item.M

#### what's the first sale date for each store/item combination?

#### what's the last sale date for each store/item combination?

#### how many different days were things sold for each store/item combination?

> every store sold one of every item every day in this data's time span

### Check for gaps in time

> there are no gaps in time

## Exploration

How to split our data for time series?

Ideally our split will contain a whole "season" of data.

To be investigated in the exploration lecture!